@model Final.ViewModels.SearchCourse

@{
    ViewData["Title"] = "Index";
}

<h1>Предмети</h1>

<p>
    <a asp-action="Create">Додади нов</a>
</p>

<hr />

<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Наслов:&nbsp;&nbsp;&nbsp;
        <input type="text" asp-for="SearchString" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Семестар:&nbsp;&nbsp;&nbsp;
    <select asp-for="CourseSemester" asp-items="Model.Semesters">
        <option value="">Сите</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Програма:&nbsp;&nbsp;&nbsp;
        <select asp-for="CourseProgram" asp-items="Model.Programs">
            <option value="">Сите</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Примени" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Кредити</th>
            <th>Семестар</th>
            <th>Насока</th>
            <th>Степен</th>
            <th>Прв наставник</th>
            <th>Втор наставник</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
                </td>
                <td>
                    <a asp-action="Enroll" asp-route-courseid="@item.Id">Запиши студент</a> |
                    <a asp-action="Students" asp-route-id="@item.Id">Студенти</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Избриши</a>
                </td>
            </tr>
        }
    </tbody>
</table>
