@model Final.ViewModels.SearchStudent

@{
    ViewData["Title"] = "Index";
}

<h1>Студенти</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Додади нов</a>
    </p>
}

<hr />

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        Индекс:&nbsp;&nbsp;&nbsp;
        <select asp-for="StudentIndex" asp-items="Model.Index">
            <option value="">Сите</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Име и презиме:&nbsp;&nbsp;&nbsp;<input type="text" asp-for="SearchString" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Примени" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Индекс</th>
            <th>Име и презиме</th>
            <th>Датум на упис</th>
            <th>Кредити</th>
            <th>Семестар</th>
            <th>Степен</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcquiredCredits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    <a asp-action="Courses" asp-route-id="@item.Id">Предмети |</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<a asp-action="Edit" asp-route-id="@item.Id">Промени |</a>
                     <a asp-action="Delete" asp-route-id="@item.Id">Избриши |</a>}
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>
